.todos-filters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-sizing: border-box;
  border: 0.1rem solid var(--light-color);
  border-radius: 1rem;

  &__button {
    font-size: 1.6rem;

    &:not(.button--primary):hover {
      color: var(--primary-color);
    }
  }
}