.todos-form-add {
  display: grid;
  gap: 1.6rem;

  &__form {
    display: grid;
    gap: 1.6rem;
    padding: 1.4rem 1.6rem 2rem;
    border: 0.1rem solid var(--light-color);
    border-radius: 1.6rem;
    box-shadow: 0 1px 20px rgb(240 240 240 / 80%);
  }

  &__input {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font: inherit;
    font-size: 1.6rem;
    border: 0.1rem solid var(--light-color);
    border-radius: 1.6rem;
    overflow: hidden;

    &--focus {
      border: 0.2rem solid var(--primary-color);
    }

    input {
      flex-grow: 1;
      border: none;
      padding: 0.8rem 1.6rem;

      &:focus {
        outline: none;
      }
    }
  }

  &__show-form {
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 1.2rem 1.4rem;
    color: var(--primary-color);
    font-size: 1.9rem;
    border: 0.1rem solid var(--light-color);
    border-radius: 1.6rem;
    transition: box-shadow 0.2s;

    &:hover {
      box-shadow: 0 1px 20px rgb(240 240 240 / 80%);
    }
  }

  &__close {
    justify-self: end;
    font-size: 2rem;

    &:hover {
      color: var(--primary-color);
    }
  }
}